body {
    font-family: 'Anonymous Pro', monospace;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recovery-phrase {
    margin-top: 10px;
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 8px;
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Membagi menjadi 4 kolom */
    gap: 10px;
    align-items: center;
    justify-items: center;
    text-align: center; /* Penyesuaian untuk responsif */
    max-width: 100%;
    box-sizing: border-box;
}

.recovery-word {
    font-size: 16px;
    background-color: transparent;
    padding: 5px;
    border: none;
    width: auto; /* Menyesuaikan lebar dengan konten */
    box-sizing: border-box; /* Menghindari masalah dengan penambahan padding */
}

.copy-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.copy-button:hover {
    background-color: #0056b3;
}

@media (max-width: 768px) {
    .recovery-phrase {
        grid-template-columns: repeat(2, 1fr); /* Pada layar yang lebih kecil, menjadi 2 kolom */
    }
}

@media (max-width: 480px) {
    .recovery-phrase {
        grid-template-columns: repeat(1, 1fr); /* Pada layar yang lebih kecil, menjadi 1 kolom */
    }
}
